* {
    box-sizing: border-box;
}

a, a:hover, a:focus, a:link, a:active {
    text-decoration: none;

}

body {
    font-family: system-ui;;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1.5;
    text-transform: none;
}

.nav-container {
    max-width: 1000px;
    padding: 20px 0px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #000000;
}

.navbar-toggle .btn-line1 {
    width: 35px;
    display: block;
    height: 2px;
    background: #000;
    margin: 8px 0 8px auto;
}

.navbar-toggle .btn-line2 {
    width: 25px;
    display: block;
    height: 2px;
    background: #000;
    margin: 8px 0 8px auto;
}

.navbar {
    margin-bottom: 0 !important;
    background: transparent !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.navbar-toggler {
    position: relative;
    float: right;
    padding: 7px 15px;
    background-color: #3a4a51;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.navbar .navbar-nav li a {
    font-family: system-ui;;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: inherit;
    text-transform: capitalize;
    color: #4a5a6a;
    padding: 10px 25px;
    display: block;
}

.navbar .navbar-nav > li > a:hover {
    color: #3c3c3c;
    background: transparent !important;
}

.brand-container {
    line-height: initial;
    margin-bottom: .25rem !important;
}

.navbar-brand {
    color: #4a5a6a !important;
    line-height: initial;
    padding: 0;
    font-size: 36px;

}

.nav-element {
    transition: all .3s ease-in-out;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #fc802a !important;
}
@media screen and (max-width: 991.98px){
    .navbar-toggler span {
        width: 35px;
        display: block;
        height: 2px;
        background: #000;
        margin: 8px 0 8px auto;}
    .navbar-toggler span:last-child {
        width: 25px;
    }
    .navbar-nav {
        float: left;
        display: flex;
        flex-direction: column;
    }

    .navbar .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #4a5a6a;
    }

    .navbar-toggler:hover {
        border: none;
        box-shadow: none;
        background: transparent;
        outline: none;

    }
}