* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
img{
    object-fit: cover;
}
div.search {padding: 19px 0;}

.mainContainer {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
}
.mainColumn {
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
    width: 694px;
    box-shadow: 0 1px 3px rgba(18,18,18,.1);
}
.widget {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(18,18,18,.1);
    box-shadow: 0 1px 3px rgba(18,18,18,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.CateBar{
    margin-bottom: 0!important;
    height: 40px;
    border-bottom: 1px solid #f0f2f7;
    display: flex;
}
.CateItems a {
    align-items: center;
    display: flex;
    font-size: 15px;
    margin: 0 22px;
}
.CateItems a:hover{
    color: #fc802a;
}
.CateItems{
    display: flex;
}

.category{
    text-decoration: none;
    color: #4a5a6a;
}
.infocards{
    height: 240px;
    width: 100%;
}
.repo-title{
    margin-top: 15px;
    margin-left: 15px;
}
.repo-title-link{
    font-size: 24px;
    color: #3a4a5a;
}
.intro-container{
    margin-left: 15px;
    margin-top: 15px;
    height: 50%;
    display: flex;
}
.intro{
    margin-bottom: 5px!important;
}
.intro-text{
    width: 50%;
    margin-right: 0;
}
.intro-img{
    width: 50%;
    padding: 15px;
    background: url("https://play-lh.googleusercontent.com/iO4zkUuieCTCVsbQWnuCjxkVUxc3_45mhdED_HVHXAXFpR13xB5gwr6qPO64TQSDI7U=s360-rw") center center;
    background-size: 76% auto;
    background-clip: content-box;
    border-radius: 20px;
}
.repo-tags{
    margin-left: 15px;
    margin-top: 10px;
}
.repo-tags > *{
    margin-right: 30px;
}
